<div class="container" id="{{crypto}}">
  <div class="crypto-image-container">
    <img src="http://localhost:3080/resources/images/coins/{{crypto}}.png" alt="Picture" class="crypto-image">
  </div>

  <div class="crypto-name-container">
    <div class="text-container">
      <p class="crypto-name">{{name}}</p>
      <p class="crypto-shortage">{{crypto}}</p>
    </div>
  </div>

  <div class="current-rate-container">
    <p [ngClass]="{'current-rate': rate == 0 || rate == null, 'current-value-negative': rate < 0, 'current-value-positive': rate > 0}">{{rate}}%&nbsp;</p>
  </div>

  <div class="current-value-container">
    <p class="current-value-neutral">{{currentValueDisplay}} <b>$</b></p>
  </div>

  <div class="checkbox-container">
    <input type="checkbox" class="checkbox" id="{{crypto}}">
  </div>
</div>
