<div id="popup" class="popup-background">
  <div class="popup" id="popup-window">
    <div class="header-container">
      <h2 class="header">Add Chart</h2>
    </div>
    <div class="scroll-list" id="scroll-list">
      <app-single-crypto-field *ngFor="let key of supportedCryptosKeys" [crypto]="key"></app-single-crypto-field>
    </div>
    <div class="add-button-section">
      <button class="primary-button" (click)="AddChart()" [ngStyle]="{'width': selectedCryptos > 0 ? '75px' : '60px'}">ADD <span *ngIf="selectedCryptos != 0">({{selectedCryptos}})</span></button>
    </div>
  </div>
</div>
