html {
  height: 100%;
  background-color: #121414;;
  scroll-behavior: smooth;
}

html,body {
  font-family: 'Roboto', sans-serif;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

button {
  cursor: pointer;
}
